{
    "environment": {
        "name": "staging",
        "debug": true
    },
    "databases": {
        "main": {
            "type": "mysql",
            "read": [
                {
                    "host": "192.168.1.1",
                    "user": "root",
                    "password": "my_password"
                },
                {
                    "host": "192.168.1.2",
                    "user": "root",
                    "password": "my_password"
                }
            ],
            "write": {
                "host": "192.168.1.3",
                "user": "root",
                "password": "my_password"
            },
            "database": "database",
            "charset": "utf8mb4",
            "collation": "utf8mb4_unicode_ci"
        },
        "cache_server": {
            "type": "redis",
            "read": {
                "host": "127.0.0.1",
                "password": "my_password",
                "port": 6379,
                "database": 0
            },
            "write": {
                "host": "127.0.0.1",
                "password": "my_password",
                "port": 6379,
                "database": 0
            }
        }
    },
    "domains": {
        "alias": {
            "stag.mywebsite.com": "mywebsite.com",
            "stag.api.mywebsite.com": "api.mywebsite.com"
        }
    }
}
